{% extends 'template/template.html' %}

{% block title %} {{ data.title }} {% endblock %}
{% block main %}
    <div class="models_page">
        {% set user_role_names = current_user.roles | map(attribute='role.name') | list %}

        {% for model_name in data.models %}
            {% if model_name in user_role_names or current_user.is_admin %}
                <a class="btn btn-primary" href="{{ url_for('model_view.models_get', model_name=model_name) }}">{{ model_name }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}