{% extends 'template/template.html' %}

{% block title %} {{ data.title }} {% endblock %}
{% block main %}
    <div class="models_page">
        <a class="btn btn-secondary" href="{{ url_for('model_view.models_get', model_name=data.title) }}"><i class="fa-solid fa-arrow-left"></i></a>
        <h1> {{ data.title }} </h1>
        <p></p>
        <form method="post">
            {% for i in data.columns if i.name != "id" %}
                <div class="form-floating">
                    <input class="form-control" name="{{ i.name }}" id="{{ i.name }}" placeholder="{{ i.name }}" {% if not i.nullable %}required{% endif %} {% if data.model_data %}value="{{ data.model_data[i.name].name if data.model_data[i.name] is not none and data.model_data[i.name]|attr('name') else data.model_data[i.name] }}"{% endif %}>
                    <label for="{{ i.name }}">{{ i.name|capitalize }}</label>
                </div>
            {% endfor %}
            <br>
            <button class="btn btn-primary w-100 py-2" type="submit">{% if data.model_data %}Change{% else %}Add{% endif %} {{ title }}</button>
        </form>
    </div>
{% endblock %}