{% extends 'template/template.html' %}

{% block title %} {{ data.title }} {% endblock %}
{% block main %}
    <div class="main_page">
        <h1> {{ data.title }} </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto, beatae deleniti ducimus earum error illum iure iusto, maiores nemo odio omnis, quibusdam repudiandae similique tempore? Adipisci, assumenda, at autem dicta eligendi enim explicabo fuga ipsum, natus obcaecati odit provident quis repudiandae totam voluptates. Ab asperiores consectetur doloribus impedit quaerat?</p>
    </div>
{% endblock %}